@font-face {
    font-family: Gilroy;
    src: url(../font/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: Galano-Medium;
    src: url(../font/GalanoGrotesqueAltMedium.otf);
}
@font-face {
    font-family: Galano-Regular;
    src: url(../font/GalanoGrotesqueAltRegular.otf);
}

@font-face {
    font-family: Gotham Book;
    src: url(../font/Gotham-Book.otf);
}



.nav-link{
    text-transform: uppercase;
    letter-spacing: 1px;
}
